/* Remove Browser Default Styling */
/* the * acts as a select all*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* CSS Variables */
:root {
  --white: #e9f0fd;
  --dark-green: #173b48;
  --blue-green: #437d92;
  --inbetween: #1d7898;
  --light-blue-green: #4f869a;
  --bright-blue-green: #73c0dc;
  --mid-green: #1e9b53;
  --bright-green: #009933;
  --light-green: #90b93b;
  --bright-lime: #98ce29;
  --lime: #deeeae;
  --sage: #909b7e;
}

/* Bugs in Javascript Doc (quick fix) */
.bugs {
  display: none;
}

/* Index Page Background*/
.background-container {
  flex-wrap: wrap;
  column-count: 2;
  column-gap: 0;
}

/* Index Page Column 1 Background*/
.column1 {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-blend-mode: hard-light;
  background-color: #072d45;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

/* Index Page Column 2 Background*/
.column2 {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-blend-mode: soft-light;
  background-color: #0a2929;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

/* Index Page Logo */
.homepage-logo {
  text-align: center;
  font-family: "Squada One", cursive;
  font-size: clamp(3.5rem, 12vw, 7.5rem);
  margin: 0;
  position: absolute;
  margin-top: 30vh;
  left: 50%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
}

.homepage-logo a {
  color: var(--white);
  text-decoration: none;
}

.homepage-logo a:hover {
  color: var(--blue-green);
}

/* Index Page Tagline */
.tagline {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  line-height: 1.1em;
  font-size: clamp(1rem, 6vw, 2.75rem);
  margin: 0;
  position: absolute;
  margin-top: 43.5vh;
  color: var(--bright-green);
  left: 50%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
}

/* Ticker Page Backgrounds*/
.background {
  flex-wrap: wrap;
  height: 100%;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-color: var(--dark-green);
  z-index: 1;
}

/* Ticker Page Logos */
h1 {
  font-family: "Squada One", cursive;
  font-size: clamp(3rem, 10vw, 4rem);
  text-align: center;
  padding-top: 25pt;
  line-height: 0.8;
  z-index: 2;
}

h1 a {
  color: var(--white);
  text-decoration: none;
}

h1 a:hover {
  color: var(--blue-green);
}

/* Ticker Stock Page Heading */
.h2-stocks {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: clamp(1.25rem, 9vw, 2.5rem);
  color: var(--bright-blue-green);
  text-align: center;
  padding-bottom: 10px;
  line-height: 1.25;
  z-index: 2;
}

/* Ticker Crypto Page Headings */
.h2-crypto {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: clamp(1.25rem, 9vw, 2.5rem);
  color: var(--mid-green);
  text-align: center;
  padding-bottom: 10px;
  line-height: 1.25;
  z-index: 2;
}

/* Ticker Page Intros */
h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.8rem, 5vw, 1.4rem);
  color: var(--bright-blue-green);
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 10pt;
  padding-left: 20vw;
  padding-right: 20vw;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.25;
  z-index: 2;
}

/* Ticker Page Links to Each Other */
h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.8rem, 5vw, 1.3rem);
  padding-bottom: 10pt;
  padding-left: 20pt;
  line-height: 1.25;
  z-index: 2;
}

h4 a {
  color: var(--blue-green);
  text-decoration: none;
}

h4 a:hover {
  color: var(--bright-blue-green);
  text-decoration: none;
  cursor: pointer;
}

/* Footer */
.index-h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.8rem, 4vw, 1rem);
  font-weight: normal;
  color: var(--blue-green);
  padding-bottom: 21px;
  padding-left: 25px;
  z-index: 2;
}

h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.8rem, 4vw, 1rem);
  color: var(--blue-green);
  padding-bottom: 10pt;
  padding-left: 20pt;
  z-index: 2;
}

/* Ticker Box Headings */
p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--inbetween);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -25px;
  z-index: 2;
}

/* Index Page Stock Button */
.stock-button {
  outline: none !important;
  height: 80px;
  margin-top: 60vh;
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  text-transform: uppercase;
  color: var(--dark-green);
  border: 0;
  border-radius: 5px;
  background-color: var(--bright-blue-green);
  padding: 12px 15px 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.stock-button:hover {
  background-color: #62d1fa;
  color: var(--dark-green);
  border: 0;
}

/* Index Page Crypto Button */
.crypto-button {
  outline: none !important;
  height: 80px;
  margin-top: 60vh;
  align-content: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  text-transform: uppercase;
  color: var(--dark-green);
  border: 0;
  border-radius: 5px;
  background-color: var(--light-green);
  padding: 12px 15px 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.crypto-button:hover {
  background-color: var(--bright-lime);
  color: var(--dark-green);
  border: 0;
}

/* Ticker Page Intro Paragraph Section */
.intro {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Search Form */
.form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  left: -85px;
  justify-content: center;
}

/* Ticker Page Search Fields */
#display {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
  background-color: #deeeae;
}

#stockSearchForm [type="text"] {
  position: relative;
  width: auto;
  height: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
  background-color: var(--lime);
  padding: 0px 15px;
  border: 0;
  z-index: 1;
}

#cryptoSearchForm [type="text"] {
  position: relative;
  width: auto;
  height: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
  background-color: var(--lime);
  padding: 0px 15px;
  border: 0;
  z-index: 1;
}

input:focus {
  outline: none !important;
  background-color: var(--lime);
}

/* Ticker Page Search Buttons */
.rounded {
  display: inline-block;
  position: relative;
  outline: none !important;
  width: 150px;
  height: 51px;
  margin-top: 0px;
  margin-left: 9px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-green);
  border: 0;
  background-color: var(--light-green);
  padding: 0px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
}

button:hover {
  background-color: var(--bright-lime);
  color: var(--dark-green);
  border: 0;
}

/* Ticker Page Clear Buttons */
.clear {
  display: inline-block;
  position: relative;
  outline: none !important;
  width: 150px;
  height: 51px;
  top: -50px;
  margin-left: 103%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-green);
  border: 0;
  border-radius: 5px;
  background-color: var(--mid-green);
  padding: 0px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.clear:hover {
  background-color: var(--bright-green);
  color: var(--dark-green);
}

/* Stock Ticker Search Results */
#tickerName {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
}

#stockPrice {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
}

#stockMarketCap {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
}

#high {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
}

#low {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
}

/* Crypto Ticker Search Results */
#coinname {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
}

#price {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
}

#MarketCap {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
}

#dayChange {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
}

#weeklyChange {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  color: var(--dark-green);
}

/* Ticker Box Columns */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
  height: auto;
  color: var(--white);
}

/* Ticker Box Rows */
.row {
  flex-wrap: wrap;
  float: center;
  margin: 0 10px;
  bottom: 100px;
}

/* Clear Floats Columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Ticker Boxes and Ticker Results */
.ticker {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: var(--white);
  border: 2px solid var(--dark-green);
  border-radius: 7px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 21px;
  height: 75px;
  z-index: 1;
}

/* Link Under Ticker Boxes */
.link {
  text-align: center;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
  text-align: left;
  background: none;
}

/* Mobile Display Only */
.mobile {
  display: none;
}

/* Mobile Devices 420px and Under */
@media (max-width: 912px) {
  .column {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .ticker {
    padding-top: 0px;
    font-size: 21px;
    height: 55px;
  }

  /* Mobile Devices 540px and Under */
  @media (max-width: 540px) {
    .intro {
      display: none;
    }

    .mobile {
      display: contents;
      height: 30%;
    }

    .homepage-logo {
      width: 100%;
    }

    .tagline {
      font-size: 30px;
      padding-top: 10px;
    }

    .stock-button {
      width: 120px;
      font-size: 21px;
      align-content: center;
    }

    .crypto-button {
      width: 120px;
      font-size: 21px;
      align-content: center;
    }

    .column {
      width: 100%;
      height: auto;
      margin-bottom: 8px;
    }

    .row {
      margin: 0 0px;
      bottom: 0;
    }

    /* Search Form */
    .form {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0px;
      width: 100%;
      height: 70px;
      padding-left: 10px;
      padding-right: 10px;
      left: -38px;
      justify-content: center;
    }

    /* Ticker Page Search Buttons */
    .rounded {
      width: auto;
      margin-top: 0px;
      margin-left: 5px;
      padding: 0px 8px;
    }

    .clear {
      width: auto;
      top: -50px;
      padding: 0px 8px;
    }

    .ticker {
      padding: 0;
      padding-top: 0px;
      bottom: 0;
      height: 60px;
    }

    /* Ticker Page Intros */
    h3 {
      padding-top: 1vh;
      padding-bottom: 2vh;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: auto;
      margin-right: auto;
    }

    .link {
      margin-top: 10px;
    }

    .footer {
      margin-left: -10px;
      margin-bottom: -10px;
    }

    /* Mobile Devices 280px and Under */
    @media (max-width: 280px) {
      .mobile {
        display: content;
      }

      .tagline {
        font-size: 24px;
        padding-top: 35px;
      }
    }
  }
}
